@charset "UTF-8";

@font-face {
  font-family: "Lato";
  src: url(./fonts/Lato-Regular.ttf) format("embedded-opentype"),
    url(./fonts/Lato-Regular.ttf) format("woff2"),
    url(./fonts/Lato-Regular.ttf) format("woff"),
    url(./fonts/Lato-Regular.ttf) format("truetype"),
    url(./fonts/Lato-Regular.ttf) format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(./fonts/Lato-Bold.ttf) format("embedded-opentype"),
    url(./fonts/Lato-Bold.ttf) format("woff2"),
    url(./fonts/Lato-Bold.ttf) format("woff"),
    url(./fonts/Lato-Bold.ttf) format("truetype"),
    url(./fonts/Lato-Bold.ttf) format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(./fonts/Lato-Heavy.ttf) format("embedded-opentype"),
    url(./fonts/Lato-Heavy.ttf) format("woff2"),
    url(./fonts/Lato-Heavy.ttf) format("woff"),
    url(./fonts/Lato-Heavy.ttf) format("truetype"),
    url(./fonts/Lato-Heavy.ttf) format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root,
:host {
  --color-light: rgb(255, 255, 255);
  --color-dark: rgb(64, 64, 64);
  --color-gray: rgb(229, 228, 234);

  --font-family-base: "Lato", system-ui;
  --font-0: 14px;
  --font-1: 15px;
  --font-2: 20px;
  --font-3: 30px;

  --border: 1px solid var(--color-dark);
  --shadow: 0 5px 0 0 var(--color-dark);
}

body {
  background-color: var(--color-light);
  height: auto;
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  font-size: var(--font-0);
  overflow-x: hidden;
  --scrollbar-width: 0px;
}

a,
button,
input,
textarea,
svg * {
  font-family: var(--font-family-base);
  transition-duration: var(--transition-duration);
}

.section {
  padding-block: var(--section-padding-y);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

/* Fonts */
a {
  color: var(--color-dark);
}

h1,
h2,
h3,
h4 {
  font-family: "BebasNeue";
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: var(--font-3);
}

h2,
.h2 {
  font-size: var(--font-2);
  letter-spacing: 4.675px;
  break-inside: avoid-page;
}

h3,
.h3 {
  font-size: var(--font-1);
  font-family: "Lato";
  font-weight: 800;
  line-height: 1.5;
  text-transform: uppercase;
}

h4,
.h4 {
  font-size: var(--font-1);
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a:hover {
  opacity: 0.7;
}

a:active {
  opacity: 0.5;
}

strong {
  font-weight: 700;
}